/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html * {
  color-profile: sRGB;
  rendering-intent: auto;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: var(--text);
  background: var(--background);
}

main {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.3125rem);
  overflow-y: auto;

  > div {
    margin: auto;
  }
}

footer {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  border-top: 1px solid var(--border);
  box-shadow: 0 -1px 3px 0px rgba(0,0,0,0.25);
}

a {
  font-weight: bold;
  transition: color 0.3s ease;

  &:link, &:visited {
    text-decoration: none;
    color: var(--text);
  }
}

p {
  margin: 0 0 1rem;
}

.relative {
  position: relative;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
