form {
  display: block;

  .field {
    margin-bottom: 0.75rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
    line-height: 1;
  }

  input {
    &:focus {
      outline: none;
    }

    &[type=text], &[type=email], &[type=password] {
      width: 100%;
      padding: 0.5rem 0.5rem;
      border: 1px solid var(--mid-grey);
      border-radius: 0.25rem;
    }

    &[type=submit] {
      appearance: none;
    }
  }
}

.option-blocks {
  > label {
    margin: 0;
    flex: 1 0 auto;

    [type=radio], [type=checkbox] {
      display: none;
    }

    [type=radio]:checked ~ span, [type=checkbox]:checked ~ span {
      background: var(--calm-green);
    }

    span {
      display: block;
      padding: 1rem;
      background: var(--pale-green);
      text-align: center;
      border-radius: 0.25rem;
      transition: background 0.3s ease;
    }
  }
}

[data-nested-form-target] {
  display: none;
}

.question-type {
  &.short_answer + .option-fields-wrapper {
    display: none;
  }
  &.pick_one + .option-fields-wrapper {
    display: block;
  }
  &.pick_many + .option-fields-wrapper {
    display: block;
  }
}
