form {
  display: block;

  .field {
    margin-bottom: 0.75rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
    line-height: 1;
  }

  input {
    &:focus {
      outline: none;
    }

    &[type=text], &[type=email], &[type=password] {
      width: 100%;
      padding: 0.5rem 0.5rem;
      border: 1px solid var(--mid-grey);
      border-radius: 0.25rem;
    }

    &[type=submit] {
      appearance: none;
    }
  }
}

.radio-block {
  margin: 0;
  flex: 1 0 auto;

  [type=radio], [type=checkbox] {
    appearance: none;
    position: absolute;
  }

  [type=radio]:focus ~ span, [type=checkbox]:focus ~ span {
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
  }

  [type=radio]:checked ~ span, [type=checkbox]:checked ~ span {
    background: var(--calm-green);
  }

  span {
    display: block;
    padding: 1rem;
    background: var(--pale-green);
    text-align: center;
    border-radius: 0.25rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
}

[data-nested-form-target] {
  display: none;
}

.question-type {
  &.short_answer + .options-wrapper {
    display: none;
  }

  &.pick_one + .options-wrapper {
    display: block;
  }

  &.pick_many + .options-wrapper {
    display: block;
  }
}
