.question {
  background: var(--survey-alt);

  .corner {
    .tag {
      background: var(--survey-main);
      border-color: var(--border);
    }

    .delete {
      width: 2rem;
      text-indent: 1px;

      &:hover {
        background: var(--error);
        color: var(--background);
      }
    }
  }

  .body {
    font-size: 1.125rem;
  }

  .remove-option {
    width: 2.0625rem;
    padding: 0.5rem;
    text-indent: 1px;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 0.9375rem;
    border-color: transparent;
    border-radius: 0 0.25rem 0.25rem 0;

    &:hover {
      box-shadow: none;
      background: var(--error);
      color: var(--background);
      border-color: var(--border);
    }
  }

  .selection-block {
    [type=radio]:checked ~ span, [type=checkbox]:checked ~ span {
      background: var(--survey-selection);
    }
    span {
      background: var(--survey-main);
    }
  }

  .options {
    .option:nth-child(1), .option:nth-child(2) {
      [type=text] {
        padding-right: 0.5rem;
      }

      .remove-option {
        display: none;
      }
    }

    .option {
      [type=text] {
        padding-right: 2.0625rem;
      }
    }

    &.row .option {
      flex: 1 0 4rem;
      text-align: center;
    }

    &.column .option {
      flex: 0 0 100%;
    }

    &.list {
      margin-top: 0.5rem;

      .option {
        padding: 1rem;
        background: var(--survey-selection);
        border-radius: 0.25rem;
      }
    }
  }

  .option-layout {
    label:first-child span {
      border-radius: 0.25rem 0 0 0.25rem;
      padding: 0.5rem 1rem;
    }

    label:last-child span {
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0.5rem 1rem;
    }
  }
}
