.surveys {
  .button.submit:hover {
    background: var(--survey-selection);
  }
}

.survey {
  background: var(--survey-main);

  & + .no-surveys {
    display: none;
  }

  a:hover, a:active {
    color: var(--survey-link);
  }
}

.no-surveys {
  text-align: center;

  > div {
    margin-bottom: 1rem;
  }
}
