.survey {
  background: var(--pale-green);

  .show {
    font-size: 1.125rem;
  }
}

.surveys {
  .no-surveys {
    text-align: center;

    > div {
      margin-bottom: 1rem;
    }
  }

  .survey + .no-surveys {
    display: none;
  }
}
